* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #F0F8FF;
    --header-size: 5vw;
    --footer-size: 65px;
    --container-img-size: 50px;
    --back-color: #f0f0f0;
}

html,
body {
    height: 100%;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    height: var(--footer-size);
    gap: 10px;
}

header {
    height: var(--header-size);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--header-size);
    font-size: var(--header-size);
    font-weight: 600;
    line-height: var(--header-size);
}

.left {
    height: var(--header-size);
}

.container-img {
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    width: var(--container-img-size);
    height: var(--container-img-size);
    padding: 15px;
}

.gray {
    background-color: var(--back-color);
}

.container-text {
    flex:1;
    align-items: center;
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 7px 20px;
    gap: 10px;
    box-sizing: border-box;
}

.container-text img {
    height: 20px;
}

.text-input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
}
